{% comment %}
  Description: 卡片标题
  Author: Pang
  Params: title-卡片标题
{% endcomment %}
<div class="row">
  <div class="dj_skin_title common-card-title col-12" data-theme-editor-setting="{{titlePath}}">{{title}}</div>
</div>