{% if collection.description %}
  <div class="container container-gap collection__container">
    <div class="row">
      <div class="collection__desc col-12 dj-mce-view">{{collection.description}}</div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "collection_desc",
  "templates": ["collection"],
  "limit": 1,
  "settings": [],
  "presets": [
    {
      "name": "collection_desc",
      "cname": {
        "en-US": "Collection description",
        "zh-CN": "专辑描述"
      },
      "category": {
        "en-US": "Page",
        "zh-CN": "页面"
      },
      "ccategory": {
        "en-US": "Page",
        "zh-CN": "页面"
      },
      "display": true
    }
  ]
}
{% endschema %}