@import './tools.scss';

.four_images{
  &-container{
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    width: 100%;
  }
  &__item-3{
    grid-row: span 2 / span 2;
  }
  &__item-4{
    grid-column: span 2 / span 2;
  }
}

@media ($mobile) {
  .four_images{
    &-container{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
      padding: 0 px-to-rem($mb_row_padding);
    }
    &__item-2{
      grid-row-start: 2;
    }
  }
}
