@import './tools.scss';

.three-image__image {
  margin-bottom: px-to-rem($mb_row_padding);

  &:last-child {
    margin-bottom: 0;
  }
}

@media ($pc) {
  .three-image__row {
    margin: 0 px-to-rem(- $bootstrap_padding - $pc_row_padding / 2);
  }

  .three-image__image {
    padding: 0 px-to-rem($pc_row_padding / 2);
    margin-bottom: 0;
  }
}
