{
  "content_for_page": [1541676727396, 1541676813887, 1541677134364, 1541677166337, 1541677284403, 1541677336793],
  "sections": {
    "1541676727396": {
      "card_name": "\u8f6e\u64ad\u56fe",
      "type": "slide",
      "settings": {
        "style": "1",
        "is_auto_play": true,
        "delay": "5000",
        "img_height": "medium",
        "text_size": "medium"
      },
      "blocks": [{
        "type": "banner",
        "settings": {
          "src": "df48bd2d0fd358f6bbe882eeaef225ef.jpg",
          "mobile_src": "df48bd2d0fd358f6bbe882eeaef225ef.jpg",
          "opacity": 25,
          "alignment": "center",
          "title": "Image Slide",
          "sub_title": "Tell your brand's story through  images",
          "url": null,
          "button_label": "Learn More",
          "button_bg_color": "#FFFFFF",
          "button_text_color": "#000000",
          "text_color": "#FFFFFF"
        }
      }, {
        "type": "banner",
        "name": "banner\u5e7f\u544a\u56fe",
        "max_blocks": 10,
        "settings": {
          "src": "02bfab779cd8917610a5faf9294af4e2.jpg",
          "mobile_src": "02bfab779cd8917610a5faf9294af4e2.jpg",
          "url": "",
          "opacity": 25,
          "alignment": "center",
          "title": "Image Slide",
          "sub_title": "Tell your brand's story through  images",
          "button_label": "Learn More"
        }
      }],
      "version": "1"
    },
    "1541676813887": {
      "type": "image_text",
      "settings": {
        "image": "062f5c6e7826d6416965beb1e58f0599.jpg",
        "link_to_url": "",
        "layout": "right"
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "title": "Image with text",
            "title_color": "#000000"
          }
        },
        {
          "type": "text",
          "settings": {
            "desc": "<p><span>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</span></p>",
            "text_color": "#000000"
          }
        },
        {
          "type": "button",
          "settings": {
            "button_label": "Optional button",
            "button_link": "",
            "button_border_color": "#000000",
            "button_bg_color": "#000000",
            "button_color": "#FFFFFF"
          }
        }
      ],
      "version": "1",
      "card_name": "\u56fe\u6587"
    },
    "1541677134364": {
      "type": "feature_product",
      "settings": {
        "product": "",
        "button_label": "Shop Now",
        "layout": "left"
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {}
        },
        {
          "type": "sub_heading",
          "settings": {}
        },
        {
          "type": "price",
          "settings": {}
        },
        {
          "type": "button",
          "settings": {
            "button_label": "Shop Now"
          }
        }
      ],
      "version": "1",
      "card_name": "\u5355\u4e2a\u5546\u54c1"
    },
    "1541677166337": {
      "type": "feature_columns",
      "settings": {
        "style": "1",
        "title": "Text Columns With Images",
        "align_text": "left"
      },
      "blocks": [{
        "type": "text_block",
        "name": "\u56fe\u6587",
        "settings": {
          "enable_image": true,
          "image": "44351dfa4cfd02104ac09fc2100cf0d8.jpg",
          "url": "",
          "title": "Making of: Aungsan Pack",
          "text": "<p><span>Ut sed maximus odio. Nam bibendum, diam sed rhoncus sagittis, sapien odio consectetur mauris, nec imperdiet justo ligula ac ante.<\/span><\/p>",
          "button_label": "",
          "button_link": ""
        }
      }, {
        "type": "text_block",
        "name": "\u56fe\u6587",
        "settings": {
          "enable_image": true,
          "image": "163510da986d218de206d33cce81b0ba.jpg",
          "url": "",
          "title": "February 25, 2018",
          "text": "<p><span>Sed eu lectus ac est sagittis gravida. Nam quis porttitor justo, eu lobortis lorem. Praesent pharetra porttitor venenatis. Curabitur ac sollicitudin magna.<\/span><\/p>",
          "button_label": "",
          "button_link": ""
        }
      }, {
        "type": "text_block",
        "name": "\u56fe\u6587",
        "settings": {
          "enable_image": true,
          "image": "1e4e12d9bbab35db3fed8ca3ac3f38dd.jpg",
          "url": "",
          "title": "Featured Posts",
          "text": "<p><span>Praesent finibus tortor risus, eleifend gravida leo suscipit ut. Fusce sit amet dignissim ex. Nullam vel viverra ligula.<\/span><\/p>",
          "button_label": "",
          "button_link": ""
        }
      }],
      "version": "1",
      "card_name": "\u56fe\u6587\u5217\u8868"
    },
    "1541677284403": {
      "type": "gallery",
      "settings": {
        "style": "1",
        "image_height": "medium"
      },
      "blocks": [{
        "type": "banner",
        "name": "\u56fe\u7247",
        "disableText": "\u6700\u591a\u6dfb\u52a04\u4e2a\u56fe\u7247",
        "settings": {
          "image_src": "19319d3407e8ff7fb7abd3b26c4b203c.jpg",
          "link": "",
          "alignment": "center",
          "title": "",
          "src": "917108fc503b79d2908c96c360520c44.jpg"
        }
      }, {
        "type": "banner",
        "name": "\u56fe\u7247",
        "disableText": "\u6700\u591a\u6dfb\u52a04\u4e2a\u56fe\u7247",
        "settings": {
          "image_src": "9a8b43a70e04da93b991c7cf00f818d3.jpg",
          "link": "",
          "alignment": "center",
          "title": "",
          "src": "6b71e95380774ab1613e956d7ddb20cd.jpg"
        }
      }],
      "version": "1",
      "card_name": "\u5355\u6392\u56fe\u7247"
    },
    "1541677336793": {
      "type": "products",
      "settings": {
        "style": "1",
        "name": "Featured collection",
        "products": [],
        "line_number": 1,
        "is_compare_at_price_show": true,
        "grid": 4,
        "image_size": "medium"
      },
      "version": "1",
      "card_name": "\u4e13\u8f91\u5546\u54c1"
    }
  }
}